* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: Ubuntu;
    background-color: black;
    color: #fff;
}

.container {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    color: #000;
    background-color: #eee;
}

.flex {
    display: flex;
    width: 100%;
    gap: 10px;
}

.borderRaduis {
    border-radius: 10px;
}

.flex1 {
    flex: 1;
    height: 90dvh;
    padding: 10px;
    background-color: #54b1ce;
}

.list {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list li {
    cursor: pointer;
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 10px;
    margin: 5px auto;
}

.list li:hover,
.list li.active {
    color: #f5f5f5;
    background-color: #4c5091;
}

.flex3 {
    position: relative;
    flex: 2;
    padding: 10px;
}

.group {
    margin: 20px auto;
}

.input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    transition: all ease .3s;
    border: 2px solid #ccc;
}

.input:focus {
    border: 2px solid #4c5091 !important;
}

.buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 20px 0 0;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}

button.back {
    background-color: rgb(228, 10, 10);
}

button.next {
    background-color: rgb(16, 78, 16);
}